#cropped-image {
  width: 300px;
  border-radius:150px;
}

.upload-image-modal .modal-wrapper {
  overflow-y: auto !important;
  width: 500px;
  background: #7f7f7f
}

scroll-content {
  overflow-y: auto !important;
}

