menu-page {
  .list-header-md {
    margin: 0;
  }

  .split-pane-md.split-pane-visible > .split-pane-side {
    max-width: 280px;
  }

  .menu-item {
    transition: background-color ease-in-out .2s;
  }

  ion-item.menu-item:hover {
    --background: var(--ion-color-light);
  }

  .title-logo {
    text-align: center;
  }

  .logo {
    height: 42px;
  }
}

@media print {
  ion-menu {
    display: none !important;
  }
}
